<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emretopcu.schoolmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolManager">
        <activity android:name=".view.activities.Activity_Initial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.Activity_Login_Page"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Main_Admin_Departments"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Main_Admin_Lecturers"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Main_Admin_Semesters"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Main_Admin_Students"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Main_Admin_Dept_Admins"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Dept_Admin_Lecturers"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Dept_Admin_Students"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Dept_Admin_Courses"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Dept_Admin_Specific_Course"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Lecturer_Main_Page"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Lecturer_Specific_Grade"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Lecturer_Weekly_Schedule_and_Appointments"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Lecturer_Announcements"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Lecturer_Grades"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Lecturer_Participants"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Lecturer_Course_Notes"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Lecturer_Specific_Appointment"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Student_Main_Page"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Student_Announcements"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Student_Grades"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Student_Weekly_Schedule"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Student_Course_Notes"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.Activity_Student_Appointments"
            android:screenOrientation="portrait"/>
    </application>

</manifest>